---
import Section from "../Section.astro";

import { basics } from "@app/resources/cv.json";

const { summary } = basics
---

<Section title="About me" hoverColor="blue">
    <pre>{summary}</pre>
</Section>