---
import Section from "../Section.astro";

import { cv } from "@app/components/utils/CV.astro";

const { summary } = cv.basics
---

<Section title="About me" hoverColor="blue">
    <pre>{summary}</pre>
</Section>