---
import Section from "../Section.astro";
import { en, es } from "@cv";

//i18n
import { useTranslations } from '@app/i18n/utils'

const { lang } = Astro.props
const cv = (lang === 'es') ? es : en
const { summary } = cv.basics
//i18

const paraphs = summary.split('\n\n')
const t = useTranslations('en')
---

<Section title={t('section.about')} hoverColor="blue">
    <div>
        {
            paraphs.map(paraph => {
                return(
                    <p>{paraph}</p>
                    <br/>
                )
            })
        }
    </div>
    
</Section>

<style>
    div{
        display: flex;
        flex-wrap: wrap;
    }
</style>