---
import Section from "../Section.astro";

import { basics } from "@app/resources/cv.json";
//i18n
import { useTranslations } from '@app/utils/i18n'

const { summary } = basics

const paraphs = summary.split('\n\n')
const t = useTranslations('en')
---

<Section title={t('section.about')} hoverColor="blue">
    {
        paraphs.map(paraph => {
            return(
                <p>{paraph}</p>
                <br>
            )
        })
    }
</Section>

<style>
    div{
        display: flex;
        flex-wrap: wrap;
    }
</style>