---
import Section from "../Section.astro";
import CertificatesArticle from "@app/components/CertificatesArticle.astro";
// json cv
import { certificates } from "@app/resources/cv.json";
---

<Section title="Certifications">
    {
        certificates.map( ({name, summary, date}) => {
            return(
                <CertificatesArticle
                    name={name}
                    summary={summary}
                >
                </CertificatesArticle>
            )
        })
    }
    
</Section>
