---
import Section from "../Section.astro";
import CertificatesArticle from "@app/components/CertificatesArticle.astro";

// json cv
import { certificates } from "@app/resources/cv.json";
// i18n
import { useTranslations } from '@app/i18n/utils'

const t = useTranslations('en')
---

<Section title={t('section.certificates')}>
    {
        certificates.map( ({name, issuer, date, skill}) => {
            return(
                <CertificatesArticle
                    name={name}
                    issuer={issuer}
                    date={date}
                    skill={skill.name}
                >
                </CertificatesArticle>
            )
        })
    }
    
</Section>
