---
import Section from "@app/components/Section.astro";
import Skill from "@app/components/Skill.astro";
import { useTranslations } from "@app/i18n/utils";
import { en, es } from "@cv";

const { lang } = Astro.props
const { skills } = lang === 'es' ? es : en

const t = useTranslations(lang)
---

<Section title={t('section.skills')} hoverColor="green">
    <div class="skillContainer">
        {
            skills.map(({name, color, darkColor, fontColorDark})=>{
                return(
                <Skill
                    lightColor={color}
                    darkColor={darkColor}
                    fontColorDark={fontColorDark || ''} 
                >
                    {name}
                </Skill>
                )
            })
        }
    </div>
 
</Section>

<style>
    .skillContainer{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
</style>