---
import Section from "@app/components/Section.astro";
import Skill from "@app/components/Skill.astro";
import { cv } from "@app/components/utils/CV.astro";

const { skills } = cv
---

<Section title="Skills" hoverColor="green">
    <div class="skillContainer">
        {
            skills.map(({name})=>{
                return(
                <Skill>
                    {name}
                </Skill>
                )
            })
        }
    </div>
 
</Section>

<style>
    .skillContainer{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
</style>