---
import Section from "@app/components/Section.astro";
import Skill from "@app/components/Skill.astro";
import CV from "@cv";

const {skills} = CV
---

<Section title="Skills" hoverColor="green" hideSectionOnPrint = {true}>
    <div class="skillContainer">
        {
            skills.map(({iconKey = '', backgroundColor})=>{
                if(iconKey !== ''){
                    return(
                        <Skill icon={iconKey} background={backgroundColor} width="30px" height="30px">
                        </Skill>
                    )
                }
                return 
            })
        }
    </div>
 
</Section>

<style>
    .skillContainer{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
</style>