---
import Date from './Date.astro';
import Skill from './Skill.astro';

import { en } from "@app/resources/cv.json";

const { skills } = en

interface Props {
    name: string,
    date: string,
    issuer?: string,
    skill?: string,
}
const {name, date, issuer, skill} = Astro.props;

const certSkill = skills.filter(s => s.name === skill)[0]
---

<article>
    <header>
        <div>
            <h3>{name}</h3>
        </div>
        <Date date={date}></Date>
    </header>
    <p>Issued by {issuer}</p>
    {
        skill && 
        <Skill 
            icon={certSkill.iconKey ?? ''}
            background={ certSkill.backgroundColor}
        >
        </Skill>
    }
</article>

<style lang="scss">

header{
        display: grid;
        grid-template-columns: 60% 40%;
        margin-bottom: 0.5rem;
    }
     article{
        margin-bottom: 1.2rem;
    }

    div{
        display: flex;
    }

    h3{
        color: #454545;
        margin-right: 1rem;
    }
    p{
        font-size: .8rem;
        margin-bottom: .5rem;
    }

    :global(.dark){
            h3{
                color: rgb(220, 219, 219);
            }
        }
        
    @media print{

        article{
            margin-bottom: 1rem;
        }

        h3{
            color: #353535 !important;
        }

        p{
            font-size: .8rem;
        }
    }
</style>