---
 import Title from "@app/components/Title.astro"
 const { title: title, hoverColor } = Astro.props
---

<section>
    {title && <Title>{title}</Title>}
    <slot/>
</section>

<style
    define:vars={{hoverColor}}
>
    section{
        max-width: 700px;
        margin: 0 auto 2rem;
        --pq-title-hover-color: var(--hoverColor);
    }
</style>