---
import { getFontColor } from "@app/utils/Colors";
import SergiIcon from "@app/components/icons/Icon.astro";
interface Props{
    icon: string | undefined,
    width?: string,
    height?: string,
    background?: string
}

const { icon = 'default', width, height, background = '' } = Astro.props
---

<div class="skill">
    <SergiIcon icon={icon} width={width}, height={height} background={background}>
    </SergiIcon>
</div>

<style lang="scss">
    .skill{
        border-radius: 10px;
    }

    @media print{
        .skill{
            display: none !important;
        }
    }
</style>