---
import Skill from "@app/components/Skill.astro";
import { type ISkill } from '@app/types/skillTypes'

interface Props {
    skills: ISkill[]
}

const { skills } = Astro.props
const areSkills = skills.length > 0 ? 'flex' : 'none'
---

<div class="skillContainer">
    {
        skills.map(({iconKey = '', backgroundColor})=>{
            if(iconKey !== ''){
                return(
                    <Skill icon={iconKey} background={backgroundColor} width="17px" height="17px">
                    </Skill>
                )
            }
            return 
        })
    }
</div>

<style lang="scss" define:vars={{ areSkills: areSkills }}>
    .skillContainer{
        margin-top: .5rem;
        flex-wrap: wrap;
        gap: 15px;
    }

    .skillContainer{
        display: var(--areSkills, 'flex');
    }
</style>