<div class="skill">
    <slot/>
</div>

<style>
    .skill{
        font-size: .8rem;
        border-radius: 5px;
        padding: .3rem .5rem;
        color: white;
        font-weight: 600;
        background: rgb(71, 71, 71);
    }

    .skill:hover{
        background: rgb(117, 117, 117);
    }
</style>