---
import { getFontColor } from "@app/utils/Colors";
import SergiIcon from "@app/components/icons/Icon.astro";
interface Props{
    icon: string | undefined,
}

const { icon = 'default' } = Astro.props
---

<span class="skill">
    <SergiIcon icon={icon}>
    </SergiIcon>
</span>

<style lang="scss">
    .skill{
        border-radius: 10px;
        max-height: 22px;
        font-weight: 600;
    }

    @media print{
        .skill{
            display: none !important;
        }
    }
</style>