<h1 class="title">
    <slot/>
</h1>

<style lang="scss">
    .title{
        color: black;
        font-size: 1.5rem;
        line-height: 1.2;
        margin-bottom: 1rem;
    }

    :global(.dark) .title{
        color: aliceblue;
    }

    .title:hover{
        color: var(black);
    }

    @media print{
        .title{
            color: black !important;
        }
    }
</style>