---
import Section from "@app/components/Section.astro";
import CertificatesArticle from "@app/components/CertificatesArticle.astro";

// json cv
import { certificates } from "@app/resources/cv.json";
// i18n
import { useTranslations } from '@app/utils/i18n'

const t = useTranslations('en')
---

<Section title={t('section.certificates')}>
    {
        certificates.map( ({name, issuer, date, skills}) => {
            return(
                <CertificatesArticle
                    name={name}
                    issuer={issuer}
                    date={date}
                    skills={skills}
                >
                </CertificatesArticle>
            )
        })
    }
    
</Section>