---
import Section from "@app/components/Section.astro";
import SkillGroup from "@app/components/SkillGroup.astro";
---

<Section title="Skills" hoverColor="green" hideSectionOnPrint = {true}>

    <div class="skills-division-container">
        <div class="skills-col-span-2">
            <SkillGroup
            filter="Frontend"
            title="Frontend"
            />
        </div>
        <SkillGroup
            filter="Complementary"
            title="Complementary"
        />
       <SkillGroup
            title="DevOps"
            filter="DevOps"
       />
       <div class="skills-col-span-2">
            <SkillGroup
                filter="Backend"
                title="Backend"
            />
       </div>
    </div>
</Section>

<style>
    .skillContainer{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .skills-division-container{
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(3, 1fr);
    }

    .skills-col-span-2{
        grid-column-end: span 2;
    }

    @media only screen and (max-width: 600px){
        .skills-division-container{
            grid-template-columns: repeat(2, 1fr);
        }
    }

</style>