---
import ThemeIcon from "@app/components/icons/ThemeIcon.astro";
import PrintIcon from "@app/components/icons/PrintIcon.astro";
import LogoIcon from "@app/components/icons/LogoIcon.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="layout-container">
			<header class="layout-header"> 
				<div class="themeIcon">
					<div class="logo-container">
						<LogoIcon 
							width="50px"
							height="50px"
						></LogoIcon>
					</div>
					<ThemeIcon label="Change theme aspect"></ThemeIcon>
					<PrintIcon label="Print CV"></PrintIcon>
					<span> ⬅️ Click here </span>
				</div>
				
			</header>
			<div class="container">
				<slot />
			</div>
			<footer>
				<pre>Based on the design by <a href="https://cv.jarocki.me/" target="_blank"><span>Bartosz Jarocki</span></a></pre>
			</footer>
		</div>
	</body>
</html>
<style is:global lang="scss">
	html{
		font-family: Andale Mono, monospace;
	}

	html.dark{
		background: #0D1117;
	}

	body,
	figure {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	footer pre{
		color: black;
		font-size: .8rem;
		max-width: 700px;
		margin: 0 auto;
		display: flex;
		justify-content: end;
		padding: 1rem;

		a{
			color: #1F6FEB;
			:hover{
				color: #113c7b;
			}
		}
	}

	.dark footer{
		color: white;
		a{
			color: #F1CC4C;
			:hover{
				color: #b99e3a;
			}
		}
	}

	.container{
		margin-top: 2rem;
		margin-bottom: 4rem;
	}

	.logo-container{
		margin-right: 3rem;
		display: flex;
		align-items: center;
	}

	.themeIcon{
        display: flex;
        align-items: center;
        top: 0;
        cursor: pointer;

		span{
            margin-left: 1rem;
			color: black;
        }

    }

	.layout-header{
		margin-top: 1rem;
	}

	.dark .themeIcon{
		 span{
			color: white;
		}
	}

	a{
		text-decoration: none;
	}
	ul, li{
		list-style: none;
	}

	*, *::before, *::after{
		box-sizing: border-box;
	}

	@media (prefers-color-sheme: dark){
		html{
			background: #0D1117;
			color: #fff;
		}
	}

	h1, h2, h3, h4 {
		margin: 0;
		font-family: Andale Mono, monospace;
	}

	p, pre{
		text-wrap: pretty;
		font-size: .9rem;
		line-height: 1.5;
		margin: 0;
		color: #555555;
	}

	.layout-container{
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
	}

	.dark{
		p,pre{
			color: #cbcbcb;
		}
	}

	@media only screen and (max-width: 738px){
		.layout-container{
			margin-bottom: 1rem;
			padding: 1rem;
			width: 100vw;
		}

		footer pre{
			justify-content: center;
		}

		.layout-header{
			margin-top: 0px;
		}
	}

	@media print{

		html{
			background: #ffffff !important;
		}
		.container{
			margin-top: 2rem !important;
		}
		footer pre{
			display: none !important;
		}

		.layout-header{
			display: none !important;
		}
	}

</style>
