---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="container">
			<slot />
		</div>
		<footer>
			<pre>Based on the design by <a href="https://cv.jarocki.me/" target="_blank"><span>Bartosz Jarocki</span></a></pre>
		</footer>
	</body>
</html>
<style is:global lang="scss">
	html{
		font-family: Andale Mono, monospace;
		background: #fff;
	}

	html.dark{
		background: #0D1117;
	}

	body,
	figure {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	footer pre{
		color: black;
		font-size: .8rem;
		max-width: 700px;
		margin: 0 auto;
		display: flex;
		justify-content: end;
		padding: .5rem;

		a{
			color: #1F6FEB;
			:hover{
				color: #113c7b;
			}
		}
	}

	.dark footer{
		color: white;
		a{
			color: #1F6FEB;
			:hover{
				color: #113c7b;
			}
		}
	}

	.container{
		margin-top: 5rem;
		margin-bottom: 4rem;
	}

	a{
		text-decoration: none;
	}
	ul, li{
		list-style: none;
	}

	*, *::before, *::after{
		box-sizing: border-box;
	}

	@media (prefers-color-sheme: dark){
		html{
			background: #0D1117;
			color: #fff;
		}
	}

	h1, h2, h3, h4 {
		margin: 0;
		font-family: Andale Mono, monospace;
	}

	p, pre{
		text-wrap: pretty;
		font-size: .9rem;
		line-height: 1.5;
		margin: 0;
		color: #757575;
	}

	.dark{
		p,pre{
			color: #cbcbcb;
		}
	}

	@media only screen and (max-width: 738px){
		.container{
			margin-top: 3rem;
			margin-bottom: 1rem;
			padding: 1rem;
		}
	}

</style>
